<div class="comment-form">
	<h2 class="is-size-3 mb-4">Leave a comment</h2>
	<form class="comment-form" method="post" action="{{ site.site_url ~ '/wp-comments-post.php' }}">
		{% if user %}
			<input type="hidden" name="email" value="{{ user.email }}">
			<input type="hidden" name="author" value="{{ user.name }}">
			<input type="hidden" name="url" value="{{ user.link }}">
		{% else %}
			<div class="field">
				<label class="label">Email</label>
				<div class="control">
					<input class="input" required name="email" type="email" id="email">
				</div>
			</div>
			<div class="field">
				<label class="label">Name</label>
				<div class="control">
					<input class="input" required name="author" type="text">
				</div>
			</div>
			<div class="field">
				<label class="label">Website</label>
				<div class="control">
					<input class="input" name="url" type="url">
				</div>
			</div>
		{% endif %}

		<div class="field">
			<label class="label">Comment</label>
      <p class="control">
        <textarea name="comment" class="textarea" placeholder="Add a comment..."></textarea>
			</p>
			<p class="help">
				Your comment will be revised by the site if needed.
			</p>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button type="submit" name="Submit" class="button is-primary">Post comment</button>
			</div>
			<div class="control">
				<button type="reset" name="Reset" class="button is-primary is-light">Cancel</button>
			</div>
		</div>

		<input name="comment_post_ID" value="{{ post.id }}" type="hidden">
		<input name="comment_parent"  value="{{ comment.ID|default('0') }}" type="hidden">
	</form>
</div>