<article class="card block is-horizontal tease tease-{{ post.post_type }}" id="tease-{{ post.ID }}">
	{% block content %}
		<div class="card-content">
			<h2 class="is-size-4 has-text-weight-bold"><a href="{{ post.link }}">{{ post.title }}</a></h2>
			<p>{{ post.preview }}</p>
			{% if post.get_thumbnail %}
				<img src="{{ post.thumbnail.src }}" />
			{% endif %}
		</div>
	{% endblock %}
</article>