{% extends "partials/_tease.twig" %}

{% block content %}
	<h2 class="is-size-4 has-text-weight-bold"><a href="{{ post.link }}">{{ post.title }}</a></h2>
	<p class="content">{{ post.preview.length(50) }}</p>
	{% if post.thumbnail.src %}
		<img src="{{ post.thumbnail.src }}" />
	{% endif %}

	<div class="card-footer">
		<div class="tags card-footer-item">
			{% for tag in post.tags %}
				<a href="{{ tag.link }}" class="tag">
					{{ tag.name }}
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}