{% extends "partials/_base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<img src="{{ post.thumbnail.src|resize(1200, 300) }}">

			<section class="section article-content">
				<div class="has-text-centered">
					<h1 class="title is-1 article-h1">{{ post.title }}</h1>
					<p class="blog-author content subtitle is-size-6">
						<span>By</span><a href="{{ post.author.path }}"> {{ post.author.name }} </a><span>&bull;</span> <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
					</p>
				</div>

				<div class="post content section article-body">
					{{ post.content }}
				</div>
			</section>

			{% if post.comment_status != "closed" %}
				<!-- comment box -->
				<section class="section comment-box">
					<!-- comments -->
					<div class="comments">
						{% if post.comments %}
							<h1 class="is-size-2 mb-4">Comments</h1>
							{% for cmt in post.comments %}
								{% include "partials/_comment.twig" with {comment: cmt} %}
							{% endfor %}
						{% endif %}
					</div>

					{% if post.comment_status == "closed" %}
						<p> Comments for this post are closed </p>
					{% else %}
						<hr />
						<!-- comment form -->
						{% include "partials/_comment-form.twig" %}
					{% endif %}
				</section>
			{% endif %}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
