{% extends "partials/_base.twig" %}

{% block page %}
	<div class="content-wrapper">
		<section class="hero is-medium is-primary {{ post.thumbnail ? "has-background" : "" }}">
			{% if post.thumbnail %}
				<div class="hero-background">
					<img src={{ post.thumbnail.src }}>
				</div>
			{% endif %}
			<div class="hero-body">
				<div class="container">
					<h1
						v-if="showTitle"
						class="title is-2"
					>
						{{ post.hero_title ? post.hero_title : post.title }}
					</h1>
					<h2 class="subtitle">
						{{ post.meta('hero_content') }}
					</h2>
				</div>
			</div>
		</section>

		<article class="section post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<div class="container">
				<section class="article-content">
					<div class="content article-body">
						{{ post.content }}
					</div>
				</section>
			</div>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}